<?xml version="1.0" ?>

<robot name="alphabot2" xmlns:xacro="https://www.ros.org/wiki/xacro" >
  <xacro:include filename="$(find alphabot2_world)/robots/materials.xacro" />
  <xacro:include filename="$(find alphabot2_world)/robots/gazebo.xacro" />
  <xacro:include filename="$(find alphabot2_world)/robots/wheel_macro.xacro" />
  <xacro:include filename="$(find alphabot2_world)/robots/caster_macro.xacro" />

  <!-- chassis -->
  <link name="link_chassis">
    <!-- pose and inertial -->
    <pose>0 0 0 0 0 0</pose>
    <inertial>
      <mass value="0.145"/>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <inertia ixx="0.0395416666667" ixy="0" ixz="0" iyy="0.106208333333" iyz="0" izz="0.106208333333"/>
    </inertial>
    <!-- end of pose and inertial -->
    
    <!-- chassis collision and visual -->
    <collision name="collision_chassis">
      <geometry>
        <cylinder radius="0.055" length="0.045"/>
      </geometry>
    </collision>
    <visual>
      <origin rpy="0 0 0" xyz="0 0 -0.0225"/>
      <geometry>
        <mesh filename="package://alphabot2_world/meshes/chassis.stl" />
      </geometry>
      <material name="blue"/>
    </visual>
    <!-- end of chassis collision and visual -->
    
    <!-- caster front -->
    <xacro:caster name="caster_front"  origin_xyz="0.05 0 -0.03"  />
    <!-- end of caster front -->

    <!-- caster back -->
    <xacro:caster name="caster_back"  origin_xyz="-0.05 0 -0.03"  />
    <!-- end of caster back -->
  </link>
  <!-- end of chassis -->

  <!-- right wheel -->
  <xacro:link_wheel name="link_right_wheel" />
  <!-- end of right wheel -->

  <!-- joint for right wheel -->
  <xacro:joint_wheel name="joint_right_wheel"  child="link_right_wheel"  origin_xyz="0 0.046 -0.016"  />
  <!-- end of joint for right wheel -->

  <!-- left wheel -->
  <xacro:link_wheel name="link_left_wheel" />
  <!-- end of left wheel -->

  <!-- joint for left wheel -->
  <xacro:joint_wheel name="joint_left_wheel"   child="link_left_wheel"   origin_xyz="0 -0.046 -0.016"  />
  <!-- end of joint for left wheel -->

  <!--<link name="lower_camera_link">
  <inertial>
      <mass value="0.0225"/>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <inertia ixx="0.0000058388" ixy="0" ixz="0" iyy="0.0000063638" iyz="0" izz="0.0000046088"/>
  </inertial>
  <collision name="lower_camera_collision">
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <box size="0.037 0.033 0.045"/>
      </geometry>  
  </collision>
  <visual name="lower_camera_visual">
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <box size="0.037 0.033 0.045"/>
      </geometry>      
      <material name="red"/>
  </visual>
  </link>
   <joint name="joint_lower_camera_link" type="continuous">
    <origin rpy="0 0 0" xyz="0 0 0.045"/>
    <child link="lower_camera_link" />
    <parent link="link_chassis"/>
    <axis rpy="0 0 0" xyz="0 0 1"/>
    <limit effort="10000" velocity="1000" lower="-1.57" upper="1.57"/>
    <joint_properties damping="1.0" friction="1.0" />
  </joint>-->
  <!--TODO: plugin link da camara de baixo-->
  <!--<link name="upper_camera_link">
    <origin rpy="0 0 0" xyz="0 0 0"/>
  <inertial>
      <mass value="0.0225"/>
      <origin rpy="0 ${3.14/2} 0" xyz="0 0 0 "/>
      <inertia ixx="0" ixy="0" ixz="0" iyy="0.000006" iyz="0" izz="0.000005"/>
  </inertial>
  <collision name="upper_camera_collision">
      <origin rpy="0 ${3.14/2} 0" xyz="0 0 0" />
      <geometry>
        <mesh filename="package://alphabot2_world/meshes/chassis.stl" />
      </geometry>
  </collision>
  <visual name="upper_camera_visual">
      <origin rpy="0 ${3.14/2} 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="package://alphabot2_world/meshes/camera.stl" />
      </geometry>      
      <material name="blue"/>
  </visual>
  </link>

   <joint name="joint_upper_camera_link" type="continuous">
    <origin rpy="0 ${-3.14/2} 0" xyz="0 0 0.045"/>
    <child link="upper_camera_link" />
    <parent link="lower_camera_link"/>
    <axis rpy="0 0 0" xyz="0 1 0"/>
    <limit effort="10000" velocity="1000" lower="-1.57" upper="1.57"/>
    <joint_properties damping="1.0" friction="1.0" />
  </joint>-->

  <!-- camera -->
  <!--<gazebo reference="upper_camera_link">
    <sensor name="alphabot2_camera" type="camera" >
      <visualize>1</visualize>
      <always_on>1</always_on>
      <update_rate>30.0</update_rate>
      <camera name="alphabot2_camera">
      <origin rpy="0 ${3.14/2} 0" xyz="0.015 0 0.045"/>
        <save enabled="true">
          <path>/tmp/</path>
        </save>
        <horizontal_fov>1.08504</horizontal_fov>
        <image>
          <width>160</width>
          <height>120</height>
          <format>R8G8B8</format>
        </image>
        <clip>
          <near>0.01</near>
          <far>1000</far>
        </clip>
        <noise>
          <type>gaussian</type>
          <mean>0.0</mean>
          <stddev>0.007</stddev>
        </noise>
      </camera>
      <plugin name="camera_controller" filename="libgazebo_ros_camera.so">
        <alwaysOn>true</alwaysOn>
        <updateRate>30.0</updateRate>
        <cameraName>alphabot2_camera/</cameraName>
        <imageTopicName>image_raw</imageTopicName>
        <cameraInfoTopicName>camera_info</cameraInfoTopicName>
        <frameName>camera_link</frameName>
        <hackBaseline>0.07</hackBaseline>
        <distortionK1>0.0</distortionK1>
        <distortionK2>0.0</distortionK2>
        <distortionK3>0.0</distortionK3>
        <distortionT1>0.0</distortionT1>
        <distortionT2>0.0</distortionT2>
      </plugin>
    </sensor>
  </gazebo>-->

  <joint name="sensor1_joint" type="fixed">
    <axis xyz="0 1 0" />
    <origin xyz="0.038 -0.028 -0.0242" rpy="0 0 0"/>
    <parent link="link_chassis"/>
    <child link="sensor1_bottom"/>
  </joint>

  <link name="sensor1_bottom">
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
    	<box size="0.005 0.006 0.0065"/>
      </geometry>
    </collision>

    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
    	<box size="0.005 0.006 0.0065"/>
      </geometry>
    </visual>

    <inertial>
      <mass value="1e-5" />
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <inertia ixx="1e-6" ixy="0" ixz="0" iyy="1e-6" iyz="0" izz="1e-6" />
    </inertial>
  </link>

  <gazebo reference="sensor1_bottom">
    <sensor type="ray" name="head_sensor1">
      <pose>0 0 0 0 0 0</pose>
      <visualize>true</visualize>
      <update_rate>40</update_rate>
      <ray>
        <scan>
          <vertical>
            <samples>1</samples>
            <resolution>1</resolution>
            <min_angle>-1.5707963268</min_angle>
            <max_angle>-1.5707963268</max_angle>
          </vertical>
        </scan>
        <range>
          <min>0.0010</min>
          <max>0.20</max>
          <resolution>0.01</resolution>
        </range>
        <noise>
          <type>gaussian</type>
          <mean>0.0</mean>
          <stddev>0.01</stddev>
        </noise>
      </ray>
      <plugin name="sensor1_controller" filename="libgazebo_ros_laser.so">
        <topicName>/alphabot2/laser/scan/sensor1</topicName>
        <frameName>sensor1_bottom</frameName>
      </plugin>
    </sensor>
  </gazebo>

  <joint name="sensor2_joint" type="fixed">
    <axis xyz="0 1 0" />
    <origin xyz="0.038  -0.014 -0.0242" rpy="0 0 0"/>
    <parent link="link_chassis"/>
    <child link="sensor2_bottom"/>
  </joint>

  <link name="sensor2_bottom">
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
    	<box size="0.005 0.006 0.0065"/>
      </geometry>
    </collision>

    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
    	<box size="0.005 0.006 0.0065"/>
      </geometry>
    </visual>

    <inertial>
      <mass value="1e-5" />
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <inertia ixx="1e-6" ixy="0" ixz="0" iyy="1e-6" iyz="0" izz="1e-6" />
    </inertial>
  </link>

  <gazebo reference="sensor2_bottom">
    <sensor type="ray" name="head_sensor2">
      <pose>0 0 0 0 0 0</pose>
      <visualize>true</visualize>
      <update_rate>40</update_rate>
      <ray>
        <scan>
          <vertical>
            <samples>1</samples>
            <resolution>1</resolution>
            <min_angle>-1.5707963268</min_angle>
            <max_angle>-1.5707963268</max_angle>
          </vertical>
        </scan>
        <range>
          <min>0.0010</min>
          <max>0.20</max>
          <resolution>0.01</resolution>
        </range>
        <noise>
          <type>gaussian</type>
          <mean>0.0</mean>
          <stddev>0.01</stddev>
        </noise>
      </ray>
      <plugin name="sensor2_controller" filename="libgazebo_ros_laser.so">
        <topicName>/alphabot2/laser/scan/sensor2</topicName>
        <frameName>sensor2_bottom</frameName>
      </plugin>
    </sensor>
  </gazebo>

  <joint name="sensor3_joint" type="fixed">
    <axis xyz="0 1 0" />
    <origin xyz="0.038 0 -0.0242" rpy="0 0 0"/>
    <parent link="link_chassis"/>
    <child link="sensor3_bottom"/>
  </joint>

  <link name="sensor3_bottom">
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
    	<box size="0.005 0.006 0.0065"/>
      </geometry>
    </collision>

    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
    	<box size="0.005 0.006 0.0065"/>
      </geometry>
    </visual>

    <inertial>
      <mass value="1e-5" />
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <inertia ixx="1e-6" ixy="0" ixz="0" iyy="1e-6" iyz="0" izz="1e-6" />
    </inertial>
  </link>

  <gazebo reference="sensor3_bottom">
    <sensor type="ray" name="head_sensor3">
      <pose>0 0 0 0 0 0</pose>
      <visualize>true</visualize>
      <update_rate>40</update_rate>
      <ray>
        <scan>
          <vertical>
            <samples>1</samples>
            <resolution>1</resolution>
            <min_angle>-1.5707963268</min_angle>
            <max_angle>-1.5707963268</max_angle>
          </vertical>
        </scan>
        <range>
          <min>0.0010</min>
          <max>0.20</max>
          <resolution>0.01</resolution>
        </range>
        <noise>
          <type>gaussian</type>
          <mean>0.0</mean>
          <stddev>0.01</stddev>
        </noise>
      </ray>
      <plugin name="sensor3_controller" filename="libgazebo_ros_laser.so">
        <topicName>/alphabot2/laser/scan/sensor3</topicName>
        <frameName>sensor3_bottom</frameName>
      </plugin>
    </sensor>
  </gazebo>

  <joint name="sensor4_joint" type="fixed">
    <axis xyz="0 1 0" />
    <origin xyz="0.038 0.014 -0.0242" rpy="0 0 0"/>
    <parent link="link_chassis"/>
    <child link="sensor4_bottom"/>
  </joint>

  <link name="sensor4_bottom">
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
    	<box size="0.005 0.006 0.0065"/>
      </geometry>
    </collision>

    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
    	<box size="0.005 0.006 0.0065"/>
      </geometry>
    </visual>

    <inertial>
      <mass value="1e-5" />
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <inertia ixx="1e-6" ixy="0" ixz="0" iyy="1e-6" iyz="0" izz="1e-6" />
    </inertial>
  </link>

  <gazebo reference="sensor4_bottom">
    <sensor type="ray" name="head_sensor4">
      <pose>0 0 0 0 0 0</pose>
      <visualize>true</visualize>
      <update_rate>40</update_rate>
      <ray>
        <scan>
          <vertical>
            <samples>1</samples>
            <resolution>1</resolution>
            <min_angle>-1.5707963268</min_angle>
            <max_angle>-1.5707963268</max_angle>
          </vertical>
        </scan>
        <range>
          <min>0.0010</min>
          <max>0.20</max>
          <resolution>0.01</resolution>
        </range>
        <noise>
          <type>gaussian</type>
          <mean>0.0</mean>
          <stddev>0.01</stddev>
        </noise>
      </ray>
      <plugin name="sensor4_controller" filename="libgazebo_ros_laser.so">
        <topicName>/alphabot2/laser/scan/sensor4</topicName>
        <frameName>sensor4_bottom</frameName>
      </plugin>
    </sensor>
  </gazebo>

  <joint name="sensor5_joint" type="fixed">
    <axis xyz="0 1 0" />
    <origin xyz="0.038 0.028 -0.0242" rpy="0 0 0"/>
    <parent link="link_chassis"/>
    <child link="sensor5_bottom"/>
  </joint>

  <link name="sensor5_bottom">
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
    	<box size="0.005 0.006 0.0065"/>
      </geometry>
    </collision>

    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
    	<box size="0.005 0.006 0.0065"/>
      </geometry>
    </visual>

    <inertial>
      <mass value="1e-5" />
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <inertia ixx="1e-6" ixy="0" ixz="0" iyy="1e-6" iyz="0" izz="1e-6" />
    </inertial>
  </link>

  <gazebo reference="sensor5_bottom">
    <sensor type="ray" name="head_sensor5">
      <pose>0 0 0 0 0 0</pose>
      <visualize>true</visualize>
      <update_rate>40</update_rate>
      <ray>
        <scan>
          <vertical>
            <samples>1</samples>
            <resolution>1</resolution>
            <min_angle>-1.5707963268</min_angle>
            <max_angle>-1.5707963268</max_angle>
          </vertical>
        </scan>
        <range>
          <min>0.0010</min>
          <max>0.20</max>
          <resolution>0.01</resolution>
        </range>
        <noise>
          <type>gaussian</type>
          <mean>0.0</mean>
          <stddev>0.01</stddev>
        </noise>
      </ray>
      <plugin name="sensor5_controller" filename="libgazebo_ros_laser.so">
        <topicName>/alphabot2/laser/scan/sensor5</topicName>
        <frameName>sensor5_bottom</frameName>
      </plugin>
    </sensor>
  </gazebo>

  <joint name="sensor1_top_joint" type="fixed">
    <axis xyz="0 1 0" />
    <origin xyz="0.0469 -0.022 0.0242" rpy="0 0 0"/>
    <parent link="link_chassis"/>
    <child link="sensor1_top"/>
  </joint>

  <link name="sensor1_top">
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
    	<box size="0.005 0.006 0.0065"/>
      </geometry>
    </collision>

    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
    	<box size="0.005 0.006 0.0065"/>
      </geometry>
    </visual>

    <inertial>
      <mass value="1e-5" />
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <inertia ixx="1e-6" ixy="0" ixz="0" iyy="1e-6" iyz="0" izz="1e-6" />
    </inertial>
  </link>

  <gazebo reference="sensor1_top">
    <sensor type="ray" name="head_sensor6">
      <pose>0 0 0 0 0 0</pose>
      <visualize>true</visualize>
      <update_rate>40</update_rate>
      <ray>
        <scan>
          <horizontal>
            <samples>200</samples>
            <resolution>1</resolution>
            <min_angle>-1.5707963268</min_angle>
            <max_angle>1.5707963268</max_angle>
          </horizontal>
        </scan>
        <range>
          <min>0.0010</min>
          <max>3.0</max>
          <resolution>0.01</resolution>
        </range>
        <noise>
          <type>gaussian</type>
          <mean>0.0</mean>
          <stddev>0.01</stddev>
        </noise>
      </ray>
      <plugin name="sensor1_top_controller" filename="libgazebo_ros_laser.so">
        <topicName>/alphabot2/laser/scan/sensor1_top</topicName>
        <frameName>sensor1_top</frameName>
      </plugin>
    </sensor>
  </gazebo>

  <joint name="sensor2_top_joint" type="fixed">
    <axis xyz="0 1 0" />
    <origin xyz="0.0469 0.022 0.0242" rpy="0 0 0"/>
    <parent link="link_chassis"/>
    <child link="sensor2_top"/>
  </joint>

  <link name="sensor2_top">
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
    	<box size="0.005 0.006 0.0065"/>
      </geometry>
    </collision>

    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
    	<box size="0.005 0.006 0.0065"/>
      </geometry>
    </visual>

    <inertial>
      <mass value="1e-5" />
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <inertia ixx="1e-6" ixy="0" ixz="0" iyy="1e-6" iyz="0" izz="1e-6" />
    </inertial>
  </link>

  <gazebo reference="sensor2_top">
    <sensor type="ray" name="head_sensor7">
      <pose>0 0 0 0 0 0</pose>
      <visualize>true</visualize>
      <update_rate>40</update_rate>
      <ray>
        <scan>
          <horizontal>
            <samples>200</samples>
            <resolution>1</resolution>
            <min_angle>-1.5707963268</min_angle>
            <max_angle>1.5707963268</max_angle>
          </horizontal>
        </scan>
        <range>
          <min>0.0010</min>
          <max>3.0</max>
          <resolution>0.01</resolution>
        </range>
        <noise>
          <type>gaussian</type>
          <mean>0.0</mean>
          <stddev>0.01</stddev>
        </noise>
      </ray>
      <plugin name="sensor2_top_controller" filename="libgazebo_ros_laser.so">
        <topicName>/alphabot2/laser/scan/sensor2_top</topicName>
        <frameName>sensor2_top</frameName>
      </plugin>
    </sensor>
  </gazebo>

</robot>

 
