<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!-- pan tilt link -->
  <xacro:macro name="pan_tilt_link" params="name mass">
    <link name="${name}">
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <inertial>
        <mass value="${mass}"/>
        <origin rpy="0 0 0" xyz="0 0 0 "/>
        <inertia ixx="0.0000058388" ixy="0" ixz="0" iyy="0.0000063638" iyz="0" izz="0.0000046088"/>
      </inertial>
      <collision name="${name}_collision">
        <origin rpy="0 0 0" xyz="0 0 0" />
        <geometry>
          <box size="0.037 0.033 0.045"/>
        </geometry>
      </collision>
      <visual name="${name}_visual">
        <origin rpy="0 0 0" xyz="0 0 0"/>
        <geometry>
          <box size="0.037 0.033 0.045"/>
        </geometry>
        <material name="blue"/>
      </visual>
    </link>
  </xacro:macro>
  <!-- end of pan tilt link -->

  <!-- pan tilt joint -->
  <xacro:macro name="pan_tilt_joint" params="name type child parent origin_xyz axis">
    <joint name="${name}" type="${type}">
      <origin rpy="0 0 0" xyz="${origin_xyz}"/>
      <child link="${child}"/>
      <parent link="${parent}"/>
      <axis rpy="0 0 0" xyz="${axis_xyz}"/>
      <limit effort="30" velocity="1" lower="-1.57" upper="1.57"/>
      <dynamics dampling="2" friction="2"/>
    </joint>
  </xacro:macro>
  <!-- end of pan tilt joint -->

  <!-- pan tilt transmission -->
  <xacro:macro name="pan_tilt_transmission" params="name joint" >
    <transmission name="${name}_trans">
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="{joint}">
        <hardwareInterface>PositionJointInterface</hardwareInterface>
      </joint>
      <actuator name="${name}_motor">
        <mechanicalReduction>1</mechanicalReduction>
      </actuator>
    </transmission>
  </xacro:macro>
  <!-- end of pan tilt transmission -->
</robot>